/* github link of this assignment
https://github.com/hamzakhan696/solar-web-panel */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* css for logo  */
.logo{
    top: 15px;
    left: 165px;
}


/* CSS for the list */
.ul-content {
    display: flex;
    list-style: none;

    margin: 0;
    padding: 0;

  }

  /* CSS for the list items */
  .ul-content li {
    margin-left: 100px;
    color: #8A8888;
    display: flex;
    align-items: center;
    margin-right: 10px;
    display:inline-block;
    font-family: Poppins;

  }

  /* CSS for the list item image */
  ul-content li img {
    margin-right: 5px;
  }

  /* CSS for the contact button */
  .contact {
    border-radius: 3px;
    color: white;
    background-color: #86BE3F;
    padding: 8px
  }

 nav {
      display: flex;
      align-items: center;
      padding: 10px;
      font-family: Poppins;
    }

    .navbar-brand{
        color: #8A8888;
    }
    .active{
        color: #86BE3F;
    }
    .image-container {
        position: relative;
        display: inline-block;
      }

      /* css for main image text */

    .overlay-text {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 64px;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-family: Poppins;
      }

      .overlay-image{
        position: absolute;
      }
    .additional-text {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 24px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-family: Poppins;
      }

      .heading{
        font-family: Poppins;
        /*font-style: bold;*/
        font-size: 36px;
        line-height: 30px;
        margin-top: 80px;
        color: #363636;
      }
      .heading-2{
        font-family: Poppins;
        font-size: 16px;
        line-height: 16.8px;
        color: #86BE3F;

      }
     /* // css for green underline */

      .underline{
        border:2px solid #86BE3F;
        width: 119px;
        margin: 0 auto;
      }

    .content{
        font-family: Poppins;
        font-weight: 400;
        font-size: 17px;
        line-height: 26.35px;
        color: #363636;
        width: 1110px;
        height: 73px;
    }

   .content-2{
       font-family: Poppins;
         font-weight: 500;
        font-size: 21px;
        line-height: 30px;
        color: #363636;
        height: 84px;
font-style: italic;

   }

   .text{
    margin: 10px;
    width:424.62px ;
    height:88.55px ;

   }

   .heading-3{
    font-family: Poppins;
    color: #1E1E1E ;
    font-weight: 400;
    /*font-style: ;*/
    font-size: 25px;
    line-height: 82%;

   }

   .paragraph-3{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

   }

   .card img{
    width: 71.04px;
    height: 70.58px;
    margin: auto;
    margin-top: 50px;
   }
.card-lenght{
    height: 200px;

   }

   .paragraph-card{
    text-align: center;
    font-family: Poppins;

   }


    .heading-pixal{
color: #86BE3F;
font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 21px;
text-align: left;
margin-top: 10px;

   }

  #textAreaExample6 {
   height: 97.41px;
   width: 1104px;
   }




      /* @media screen and (max-width: 600px) {
        .overlay-text {
          font-size: 18px;
        }

        .additional-text {
          font-size: 14px;
        }
      } */
